.leftBar
{
    flex: 2.5;
    height: calc(100vh - 70px);
    position: sticky;

    top: 70px;  
   
}

.leftBarWrapper
{
    padding: 20px;

}

.leftBarList
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftBarListItem
{
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.leftBarIcon
{
    margin-right: 13px;
    
}